.app_logo{
  height: 10vh;
}
html{
  scroll-snap-type: y mandatory;

}
.app_top>h1{
  text-align: center;
  color: white;
}
.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background: black;
}
.app_vedio{
  position: relative;
  height: 65vh;
  width: 70%;
  background: white;
  border-radius: 10px;
  overflow: scroll;
  max-width: 450px;
  max-height:1200;
  scroll-snap-type: y mandatory;
}
.app_vedio::-webkit-scrollbar{
  display: none;
}
.app_vedio{
  -ms-overflow-style: none;
  scrollbar-width:none;
}
